<!doctype html>
<html>
<head>
<title>OurChestnuts Directory</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Family Directory" />
<meta name="keywords" Content="email phone address family">
<meta name="author" content="granny's contacts">
<meta name="robots" content="noindex, nofollow" />
<meta name="revisit-after" content="3 month" />
<!--<link rel="shortcut icon" href="https://www.ourwalnuts.com/favicon.ico">  -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script>
// TOUCH_JS (default)
// Create os object
if(typeof os !== 'object'){
	var os = {};
}

// Check for mobile and table devices in navigator.userAgent
if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino|android|ipad|playbook|silk/i.test(navigator.userAgent)){
	os.isTouchDevice = true;
}
else{
	os.isTouchDevice = false;
}

if(os.isTouchDevice) {
    document.getElementsByTagName('html')[0].className += 'is-mobile-device';
}
</script>

<style>/* my additions */
body {
  position: relative;
  padding-top: 120px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%;
  width: 100%;
  font-size: 15px;
  background: lightslategray;
}

h1 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

.titleContainer {
  position: relative;
  width: 442px;
  height: 250px;
  color: gold;
  background-color: black;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gold;
  border-radius: 15px;
  padding: 15px;
}

.h1 {
    margin: 10px 0;
    padding: 10px 0;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 100;
}

.h1_Login {
  width: 367px;
  margin: auto;
  text-align: center;
}  

#loginForm {
  width: 325px;
  margin: auto;
}

.signupLink {
    position: relative;
    width: 270px;
    margin: auto;
}

hr {
    width: 35%;
    border-color: blue;
}

.signupLink p {
    font-size: 18px;
    margin-top: 50px;
}

.signupLinkSpan {
    width:  75px;
    margin: auto;
}

.designLogo {
  width: 200px;
  margin: auto;
  font-size: 14px;
}

.sign-in-box-head {
    font-size: 33.9px;
    height: 41px;
    width: 322px;
    display: block;
    padding: 0 0 10px 0;
    transform: none;
}
.sign-in-box {
    height: 269px;
    width: 322px;
    display: block;
    padding: 0 20px 0 20px;
}
form {
    height: 208px;
    width: 322px;
    display: inline-block;
}
label {
    font-size: 16px;
    margin: 0 5px;
    height: 20px;
    width: 322px;
    display: block;
}
input {
    margin: 10px 5px;
    font-size: 22px;
}
#email  {
    font-size: 13px;
    height: 16px;
    width: 300px;
    display: inline-block;
    border: 1px solid #D3D0CA;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 10px;
}
#emailAddressRegistered {
    font-size: 18.999px;
    height: 16px;
    width: 300px;
    display: inline-block;
    border: 1px solid #D3D0CA;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 10px;
}

.progressReport {
  position: relative;
  font-size: 20px;	
}

</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script type="text/javascript">
$(function() {
  // Handler for .ready() called.

       $('form').each(function () { // attach to all form elements on page
        $(this).validate({ // initialize plugin on each form
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                }
            },
            messages: { // global options for plugin
                email: {
                    required: "Email required",
                    email: "Valid email address required"
                }
            }
        });
    });
});
       
</script>
</head>
<body>
<div class="titleContainer">
<div class="col-sm-6 col-sm-offset-3">

	<h1 class="h1_Login">Reset Password</h1>

    <div id="loginForm">
        <div class="sign-in-box">            
            <form method='POST' action='/forgot'>
                <div>
                    <label for="emailAddressRegistered">Email Address</label>
                    <input name="email" class="form-control" type="email" id="emailAddressRegistered" value="" maxlength="255" tabindex="6" title="This is a required field" />
                </div>
                <div>
                    <div>
                        <span><i class="fa fa-lock fa-lg"></i></span>
                        <input id="loginSubmit" alt="Continue Login" type="submit" name="submit" value="Reset Password" />
                    </div>
                </div>
            </form>
        </div>
        <div class="progressReport"><%= message %></div>
     </div>

</div>
</div>
</body>
</html>