<!doctype html>
<html>
<head>
<title>OurChestnuts Directory</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Family Directory" />
<meta name="keywords" Content="email phone address family">
<meta name="author" content="granny's contacts">
<meta name="robots" content="noindex, nofollow" />
<meta name="revisit-after" content="3 month" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/login.css">
<script>
// TOUCH_JS (default)
// Create os object
if(typeof os !== 'object'){
	var os = {};
}

// Check for mobile and table devices in navigator.userAgent
if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino|android|ipad|playbook|silk/i.test(navigator.userAgent)){
	os.isTouchDevice = true;
}
else{
	os.isTouchDevice = false;
}

if(os.isTouchDevice) {
    document.getElementsByTagName('html')[0].className += 'is-mobile-device';
}
</script>

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script type="text/javascript">
$(function() {
  // Handler for .ready() called.

       $('form').each(function () { // attach to all form elements on page
        $(this).validate({ // initialize plugin on each form
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                }
            },
            messages: { // global options for plugin
                email: {
                    required: "Email required",
                    email: "Valid email address required"
                },
                password: {
                    required: "Password required",
                    minlength: "Password must be at least 5 characters"
                }
            }
        });
    });
});      
</script>
<script
 src=
"https://www.google.com/recaptcha/api.js?render=<%= captcha_site_key %>&onload=onLoad&render=explicit"></script>
</head>
<body>
<div class="titleContainer">
<div class="col-sm-6 col-sm-offset-3">

	<% if (message.length > 0) { %>
		<div class="alert alert-danger oops"><%= message %></div>
	<% } %>
    <div id="loginForm">
        <div class="sign-in-box">
            <div class="sign-in-box-head">Sign In</div>

            <form method='POST' action='/login'>
                <div>
                    <label for="emailAddressRegistered">Email Address</label>
                    <input name="email" class="form-control" type="email" id="emailAddressRegistered" value="" maxlength="255" title="This is a required field" />
                </div>
                <div>
                    <label for="registeredPassword">Password</label>
                    <input id="registeredPassword" class="form-control" name="password" type="password" maxlength="255" autocomplete="on" />
                    <!-- LGN_OMAIL_CHECKBOX --> 
                    <p><a href="/forgot" class="mainNav" target="_blank">Forgot your password?</a></p>
                </div>
                <div>
                    <div>
                        <span><i class="fa fa-lock fa-lg"></i></span>
                        <input id="loginSubmit" alt="Continue Login" type="submit" name="submit" value="Sign In" tabindex="8" />
                    </div>
                </div>
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"/>
            </form>
        </div>

     </div>
	
    <div class="signupLink">
	   <p>Need an account? <span class="signupLinkSpan"><a href="/signup">Signup</a> Or go <a href="/">Home</a></span></p>	   
    </div>
	<div class="text-center designLogo">
		<p>Logic by <a href="http://scotch.io">Scotch</a>.</p>		
	</div>

</div>
</div>


<script> 
   function onLoad() {
      grecaptcha.ready(function() {
         grecaptcha.execute("<%= captcha_site_key %>" , {action: 'submit'}).then (function(token) { 
         document.getElementById('g-recaptcha-response').value = token;
        }); 
      });
   }
</script>

</body>
</html>
