<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Family Directory" />
<meta name="keywords" Content="email phone address family">
<meta name="author" content="ourwalnuts.com">
<meta name="robots" content="noindex, nofollow" />
<meta name="revisit-after" content="3 month" />
<title>OurChestnuts Sign Up</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<!--<link rel="shortcut icon" href="https://www.ourwalnuts.com/favicon.ico">  -->

<script>
// TOUCH_JS (default)
// Create os object
if(typeof os !== 'object'){
	var os = {};
}

// Check for mobile and table devices in navigator.userAgent
if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino|android|ipad|playbook|silk/i.test(navigator.userAgent)){
	os.isTouchDevice = true;
}
else{
	os.isTouchDevice = false;
}

if(os.isTouchDevice) {
    document.getElementsByTagName('html')[0].className += 'is-mobile-device';
}
</script>

<style>/* my additions */

body {
  position: relative;
  padding-top: 120px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%;
  width: 100%;
  font-size: 15px;
  background: lightslategray;
}

h1 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

.page-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  width: 500px;  
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.titleContainer {
  position: relative;
  width: 442px;
  height: 463px;
  color: gold;
  background-color: black;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gold;
  border-radius: 15px;
  padding: 15px;
}

.mainContent {
  height: 369px;
  width: 439px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#loginForm {
    float: right;
    width: 325px;
}

#registerForm {
  width: 325px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: -217px;
  color: gold;
}


.loginLink p {
    font-size: 14px;
    margin-top: -10px;
    white-space: pre;
}

.loginLinkSpan {
    width:  75px;
    margin: auto;
}

.loginLinkSpan a {
    color: cornflowerblue;
}

.designLogo {
  width: 200px;
  margin: auto;
  font-size: 14px;
}

.sign-in-box-head {
    font-size: 33.9px;
    height: 41px;
    width: 322px;
    display: block;
    padding: 0 0 10px 0;
    transform: none;
}

.sign-in-box {
    height: 269px;
    width: 322px;
    display: block;
    padding: 0 20px 0 20px;
}

form {
    height: 208px;
    width: 322px;
    display: inline-block;
}

label {
    font-size: 16px;
    margin: 0 5px;
    height: 20px;
    width: 322px;
    display: block;
}

input {
    margin: 10px 5px;
    font-size: 14px;
    background-color: rgb(250, 255, 189);
}

#cancelSubmit {
    margin-left: 20px;
}

#email, #createPassword, #confirmPassword  {
    font-size: 13px;
    height: 16px;
    width: 300px;
    display: inline-block;
    border: 1px solid #D3D0CA;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 10px;
}

#emailAddressRegistered, #emailNotRegistered, #registeredPassword {
  font-size: 17.999px;
  height: 16px;
  width: 300px;
  display: inline-block;
  border: 1px solid #D3D0CA;
  margin: 0 0 10px 0;
  padding: 10px 10px 10px 10px;
  font-family: Roboto;
}

 .msg {
    display: none;
}

.error {
    color: red;
}
.success {
    color: green;
}

.warn {
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  color: red;
  position: relative;
  top: -162px;
  width: 221px;
  margin-left: auto;
  margin-right: auto;
}

</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script type="text/javascript">
$(function() {
  // Handler for .ready() called.

       $('form').each(function () { // attach to all form elements on page
        $(this).validate({ // initialize plugin on each form
            rules: {
                emailNotRegistered: {
                    required: true,
                    email: true
                },
                newPassword1: {
                    required: true,
                    minlength: 5
                },
                newPassword2: {
                    required: true,                
                    equalTo: "#createPassword"
                },
                emailAddressRegistered: {
                    required: true,
                    email: true
                } /*,
                registeredPassword: {
                    required: true,
                    minlength: 5
                } */
            },
            messages: { // global options for plugin
                emailNotRegistered: {
                    required: "Email required",
                    email: "Valid email address required"
                },
                newPassword1: {
                    required: "Password required",
                    minlength: "Password must be at least 5 characters"
                },
                newPassword2: {
                    required: "Confirm Password",
                    equalTo: "Passwords must match"
                },
                emailAddressRegistered: {
                    required: "Email Required",
                    email: "Valid email address required"
                } /*,
                registeredPassword: {
                    required: "Password required",
                    minlength: "Enter correct password"
                } */
            }
        });
    });
});
       
</script>
</head>
<body>
    <div class="page-wrapper">
        <div class="mainContent">
            <div class="titleContainer">
                <h1><center>Create Account</center></h1>
            </div>
                
            <div id="registerForm">
                <div class="sign-in-box">                        
                    <form method='POST' action="/signup" name="newContact" id="registerContactForm">
                        <div>
                            <label for="emailNotRegistered">Email Address</label>
                            <input type="email" name="email" value="" id="emailNotRegistered" tabindex="1" maxlength="255" class="required" title="This is a required field" autofocus="true" />
                        </div>
                        <div>
                            <div>
                                <label for="createPassword">Create Password</label>
                                <input name="newPassword1" value="" id="createPassword" type="password"  tabindex="2" maxlength="70" autocomplete="off" />
                            </div>
                            <div>
                                <label for="confirmPassword">Confirm Password</label>
                                <input name="newPassword2" id="confirmPassword" type="password"  tabindex="3" maxlength="70" autocomplete="off" />
                            </div>
                            <div class="signupNav">                                   
                                    <span class="lock-icon-box gold"><i class="fa fa-lock"></i></span>
                                    <input id="createSubmit" alt="Create Account" type="submit"  tabindex="4" name="submit" value="Create Account"  />                                   
                                    <input id="cancelSubmit" alt="Cancel" type="button" tabindex="5" name="cancel" value="Cancel" onclick="window.history.go(-1); return false;" />                                    
                            </div>
                        </div>
                    </form>
                </div>
                <div class="loginLink">
                <p>Already have an account?<span class="loginLinkSpan"><a href="/login"> Login </a> Or go <a href="/">Home</a></span></p>                            
                    <div class="text-center designLogo">
                        <p>Logic by <a href="http://scotch.io">Scotch</a>.</p>      
                    </div>
                </div>
            </div> <!-- register form id -->

            <div class="warn">
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
            </div>
        </div>      <!--mainContent class -->
    </div>          <!--page-wrapper class -->

</body>

</html>